/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

h1{
  font-size: 3rem;
}

p{
  font-size:2rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
