/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  display: flex;
}

/******************************************
/* LAYOUT
/*******************************************/

h1{
  font-size: 3rem;
  margin: 20px 0;
  width: 100%;
  justify-content: center;
}

p{
  font-size:2rem;
  width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
