/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
}

/*Togglable classes*/
.noHover{
    pointer-events: none;
}

.show{
    display: none;
}
  
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
    background-color: antiquewhite;
}

#Artifacts{
    display: flex;
    width: 100%;
}

#SetSelector{
    flex-basis: 15%;
    font-size: 1rem;
    background-color: rgba(50, 50, 50, 0.5);
    height: 100vh;
    overflow-y: auto;
}

.ArtifactSet{
    height: 100%;
    display: flex;
}

.ArtifactSet img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#SetSelector p, #SetSelector li{
    padding: 10px 20px;
    cursor: default;
    height: auto;
}

#SetSelector p:first-child{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 20px;
}

#Display{
    display: flex;
    flex-basis: 85%;
    justify-content: space-around;
}
.Pieces{
    flex-basis: 15%;
}

.Pieces img{
    width: 100%;
}

@media screen and (orientation:portrait){
    #Artifacts{
        display: block;
    }
    #SetSelector{
        height: 30vh;
    }
    #SetSelector p:first-child{
        font-size: 1.5rem;
    }
    .ArtifactSet img{
        display: none;
    }
    #Display{
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .Pieces{
        flex-basis: 30%;
    }
}

@media screen and (max-width: 900px){
    #SetSelector{
        flex-basis: 20%;
        overflow-y: auto;
    }
    .ArtifactSet img{
        display:initial;
    }
    #Display{
        flex-basis: 80%;
        flex-wrap: wrap;
    }
    .Pieces{
        flex-basis: 30%;
    }
}