/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
}
  
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
    background-color: antiquewhite;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
}

h1{
    font-size: 3rem;
    margin: 25px 0;
}

#Artifacts{
    display: flex;
    width: 100%;
}

#SetSelector{
    flex-basis: 15%;
    font-size: 1rem;
    background-color: rgba(50, 50, 50, 0.5);
    height: 500px;
    overflow-y: auto;
}

.ArtifactSet{
    display: flex;
}

#SetSelector img{
    width: 17px;
}

#SetSelector p{
    padding: 10px 20px;
    cursor: default;
}

#SetSelector p:first-child{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 20px;
}

#Display{
    display: flex;
    flex-basis: 85%;
    justify-content: space-around;
}
.Pieces{
    flex-basis: 15%;
}

.Pieces img{
    width: 100%;
}

@media only screen and (max-width: 400px){
    h1{
        font-size: 1.75rem;
    }
    #Artifacts{
        display: block;
    }
    #SetSelector{
        height: 200px;
    }
    #SetSelector p:first-child{
        font-size: 1.5rem;
    }
    #Display{
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .Pieces{
        flex-basis: 30%;
    }
}